@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
    font-family: "LeOsler-RoughRegular";
    src: url("../fonts/LeOsler-RoughRegular.ttf") format("truetype"),
        url("../fonts/LeOsler-RoughRegular.woff") format("woff"),
        url("../fonts/LeOsler-RoughRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shnobel';
    src: local('Shnobel Regular'), local('Shnobel-Regular'), url('../fonts/Shnobelregular.woff2') format('woff2'), url('../fonts/Shnobelregular.woff') format('woff'), url('../fonts/Shnobelregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}