$color-background-1: linear-gradient(to top, powderblue, pink);
$color-background-2: linear-gradient(to top, pink, powderblue);
$text-blue: #2b95fe;
$text-red: #ff2c00;

$text-shadow: -0 -6px 0 #ffffff, 0 -6px 0 #ffffff, -0 6px 0 #ffffff, 0 6px 0 #ffffff, -6px -0 0 #ffffff,
    6px -0 0 #ffffff, -6px 0 0 #ffffff, 6px 0 0 #ffffff, -1px -6px 0 #ffffff, 1px -6px 0 #ffffff, -1px 6px 0 #ffffff,
    1px 6px 0 #ffffff, -6px -1px 0 #ffffff, 6px -1px 0 #ffffff, -6px 1px 0 #ffffff, 6px 1px 0 #ffffff,
    -2px -6px 0 #ffffff, 2px -6px 0 #ffffff, -2px 6px 0 #ffffff, 2px 6px 0 #ffffff, -6px -2px 0 #ffffff,
    6px -2px 0 #ffffff, -6px 2px 0 #ffffff, 6px 2px 0 #ffffff, -3px -6px 0 #ffffff, 3px -6px 0 #ffffff,
    -3px 6px 0 #ffffff, 3px 6px 0 #ffffff, -6px -3px 0 #ffffff, 6px -3px 0 #ffffff, -6px 3px 0 #ffffff,
    6px 3px 0 #ffffff, -4px -6px 0 #ffffff, 4px -6px 0 #ffffff, -4px 6px 0 #ffffff, 4px 6px 0 #ffffff,
    -6px -4px 0 #ffffff, 6px -4px 0 #ffffff, -6px 4px 0 #ffffff, 6px 4px 0 #ffffff, -5px -6px 0 #ffffff,
    5px -6px 0 #ffffff, -5px 6px 0 #ffffff, 5px 6px 0 #ffffff, -6px -5px 0 #ffffff, 6px -5px 0 #ffffff,
    -6px 5px 0 #ffffff, 6px 5px 0 #ffffff, -6px -6px 0 #ffffff, 6px -6px 0 #ffffff, -6px 6px 0 #ffffff,
    6px 6px 0 #ffffff, -6px -6px 0 #ffffff, 6px -6px 0 #ffffff, -6px 6px 0 #ffffff, 6px 6px 0 #ffffff;
