@import "vars";
@import "libs";
@import "fonts";
@import "_global.scss";

.header {
    background-image: url(../img/homepage-slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    // padding-top: 80px;
    padding-top: 80px;
}

.header__inner {
    display: inline-flex;
}

.header__title {
    color: $text-blue;
    position: absolute;
    bottom: 118px;
    left: 260px;
}

.header__subtitle {
    color: $text-red;
    position: absolute;
    bottom: 20px;
    right: 100px;
}

// social media

.header__social {

    padding-left: 355px;
}



.header__social-item {}

// menu

.button_container {
    position: absolute;
    top: 80px;
    right: 6%;
    height: 60px;
    width: 80px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;

    &:hover {
        opacity: 0.7;
    }

    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: #fff;
        }

        .middle {
            opacity: 0;
            background: #fff;
        }

        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: #fff;
        }
    }

    span {
        background: #ffff;
        border: none;
        height: 10px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.35s ease;
        border-radius: 10px;
        cursor: pointer;

        &:nth-of-type(2) {
            top: 20px;
        }

        &:nth-of-type(3) {
            top: 40px;
        }
    }
}

.overlay {
    position: absolute;
    background: $color-background-1;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;

    &.open {
        opacity: 0.9;
        visibility: visible;
        height: 100%;

        li {
            animation: fadeInRight 0.5s ease forwards;
            animation-delay: 0.35s;

            &:nth-of-type(2) {
                animation-delay: 0.4s;
            }

            &:nth-of-type(3) {
                animation-delay: 0.45s;
            }

            &:nth-of-type(4) {
                animation-delay: 0.5s;
            }
        }
    }

    nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;

        li {
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;

            a {
                display: block;
                position: relative;
                color: $text-blue;
                text-decoration: none;
                overflow: hidden;

                &:hover {
                    color: $text-red;
                    text-shadow: $text-shadow;
                    font-size: 58px;
                }

                &:hover:after,
                &:focus:after,
                &:active:after {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }

    100% {
        opacity: 1;
        left: 0;
    }
}

// About

.about {
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
}

.about__hero {}

.about__hero-position--1 {
    position: absolute;
    top: 60px;
    left: 2%;
}

.about__hero-position--2 {
    position: absolute;
    top: 60px;
    right: 2%;
}

.about__hero-position--3 {
    position: absolute;
    bottom: 340px;
    left: 2%;
}

.about__hero-position--4 {
    position: absolute;
    bottom: 340px;
    right: 2%;
}

.about__content {
    background-image: url(../img/buble-big.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    // padding: 60px 0 40px;
}

.about__text {
    text-align: center;
    max-width: 780px;
    min-height: 100%;
}

.about__buble {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

.about__buble-item {
    font-family: 'Shnobel';
    font-size: 36px;
    color: #000;
    position: relative;
    width: 100%;

    span {
        position: absolute;
        top: 86px;
        left: 0;
        width: 100%;
    }
}

// APP

.app {
    background-image: url(../img/app-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.app__content {
    padding-top: 60px;
    display: flex;
    width: 100%;
}

.app__title {
    // padding-bottom: 40px;
}

.app__info {
    // padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.app__info-text {
    max-width: 1070px;
}

.app__logo {
    position: absolute;
    top: 40px;
    right: 90px;
}

.app__phone {
    min-width: 1440px;

    img {
        width: 100%;
    }
}

.app__phone-link {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}


// Youtube
.youtube {
    padding-top: 60px;
    background-color: #b0cb74;
}

.youtube__head {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.youtube__title {
    color: $text-blue;
    padding: 70px 0 40px;
}

.youtube__text {
    max-width: 980px;
}

.youtube__galery {
    padding: 130px 0;
}

.dragon {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 60px;
}

.dragon__tosha {
    position: relative;
}


.dragon__tosha-name {
    max-width: 450px;
    color: $text-blue;
    position: absolute;
    top: 40px;
    left: 175px;
}

.dragon__content {
    background-image: url(../img/buble.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    min-width: 820px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.dragon__title {
    padding-top: 200px;
    font-size: 60px;
    padding-bottom: 60px;
}

.dragon__text {
    max-width: 725px;
    text-align: center;
    font-size: 18px;
}

// Request

.request {
    background-image: url(../img/request-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.request__title {
    padding-bottom: 50px;
}

.request__text {
    max-width: 444px;
}

.request-wrapp {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.request__img {
    width: 50%;
}


.buble {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
}



// Footer
.footer {
    padding-top: 60px;
    padding-bottom: 100px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #8a547b;

}

.footer__item {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    max-width: 500px;
    font-size: 22px;

    span {
        padding-bottom: 60px;
        font-family: "LeOsler-RoughRegular";
        font-size: 54px;
    }
}

.footer__social {
    padding-top: 40px;
}

@import "media";